h3 {
 color: #1000f0;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}
h1 {
  font-family: 'Hurricane', cursive;
  font-size: 70px;
  color: #f000dc;
  
}
body {
  background-color:#efebff; 
  }
td {
  font-size: 20px;
}
th {
  font-size: 20px;
}
